:root {
  font-family: Inter;
  color: #ffffffde;
  background-color: #101828;
}

button, a {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  touch-action: manipulation;
}

@font-face {
  font-family: PressStart2P;
  src: url('/fonts/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

.presspixel{
  font-family: PressStart2P;
}

.scroll-thin{
  scrollbar-width: thin;
  scrollbar-color: #008888 #1e2939;
}